include README.rst

recursive-include */migrations *
recursive-include */static *
recursive-include */templates *
recursive-include */templatetags *
recursive-include */boilerplates *

recursive-exclude *.pyc
